<div class="container">
  <h1 class="container__title">Angular TODO app</h1>
 <input type="text" class="todo-input" placeholder="What needs to be done"
        [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">

<div class="todo-item" *ngFor="let todo of todos">
  <div class="todo-item-left">
    <input type="checkbox" >
    <div class="todo-item-label" (dblclick)="editTodo(todo)" >{{todo.title}}</div>
  <div class="remove-item" (click)="deleteTodo(todo.id)">
    &times;
  </div>
</div>
</div>

<div class="extra-container">
  <div><label><input type="checkbox"> Check All</label></div>
  <div>4 items left</div>
</div>

<div class="extra-container">
  <div>
    <button class="active">All</button>
    <button >Active</button>
    <button >Completed</button>
    <button >Trash</button>
  </div>

  <div >
    <button >Clear Completed</button>
  </div>

</div>
</div>
